/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJbecmNE.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJnecmNE.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.whitebg {
  background-color: white;
  color: #63d6fc;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  font-family: "Poppins";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #bdefff;
}

.container {
}

.hero {
  margin-top: 100px;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
}

.hero_btn {
  margin: 50px auto;
}

.hero_image {
  height: 400px;
  overflow: hidden;
}

.hero_image img {
  width: 75%;
}

.btn {
  border: 3px solid white;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 100px;
  padding: 0.8em 2em;
  transition: 0.3s;
  color: white;
  text-decoration: none;

  background: linear-gradient(to left, transparent 50%, white 50%) right;
  background-size: 200%;
  transition: all 0.3s;
}

.btn:hover {
  color: black;
  background-position: left;
}

.first {
  text-align: center;
  padding-top: 30px;
}

.news_carousel {
  width: 80%;
  margin: auto;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  /* margin: 0; */
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  font-size: 50px !important;
}

.owl-nav .owl-prev {
  left: 0;
}

.owl-nav .owl-next {
  right: 0;
}

/* card-goldar */

/* 
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid lighten(rgba(255, 255, 255, 0.15), 10%);
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background: transparent;
  width: 4px;
  border: 2px solid lighten(transparent, 10%);
}
::-webkit-scrollbar-track-piece {
  background: transparent;
  width: 1px;
  border: 2px solid lighten(transparent, 10%);
}

body {
  scrollbar-face-color: rgba(255, 255, 255, 0.15);
  scrollbar-track-color: transparent;
}

div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 5vmin;
}

body {
  display: grid;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
  background: #333;
  background-image: radial-gradient(
      ellipse at bottom left,
      rgba(0, 163, 203, 1) 40%,
      rgba(0, 163, 203, 0) 40%
    ),
    radial-gradient(
      ellipse at top right,
      rgba(0, 163, 203, 1) 30%,
      rgba(0, 163, 203, 0) 30%
    ),
    linear-gradient(
      to right,
      rgba(98, 87, 147, 1) 0%,
      rgba(98, 87, 147, 1) 33%,
      rgba(213, 93, 100, 1) 33%,
      rgba(213, 93, 100, 1) 66%,
      rgba(228, 145, 41, 1) 66%
    );
  background-size: 50% 100%;
}

.message {
  position: absolute;
  right: 0.5vw;
  top: 1vw;
  max-width: 60vw;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}
.message a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #444;
}
.message a:hover {
  border-width: 3px;
}

.card {
  margin: auto;
  padding: 2em;
  border-radius: 1em;
  border: 1px solid transparentize(white, 0.5);
  text-shadow: 0 0 1em transparentize(black, 0.5);
  background: transparentize(white, 0.8);
  backdrop-filter: blur(20px);
  transform: perspective(500px);
  transform-style: preserve-3d;
}
.card .welcome {
  transform: translateZ(20px);
}

.card .year {
  font-size: 2.5em;
}
.card .year span {
  display: block;
  transform: translateZ(40px);
}
.card .year span:nth-child(2) {
  padding-left: 1em;
  transform: translateZ(60px);
}
.card .year span:nth-child(3) {
  padding-left: 2em;
  transform: translateZ(80px);
} */
